.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_type_addGarment .modal__content {
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  width: 496px;
  height: 436px;
  border-radius: 20px;
  padding: 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__button-close {
  background-image: url(../../images/modal__button-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__button-close:hover {
  cursor: pointer;
}

.modal__button-submit {
  background: rgba(0, 0, 0, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}


.modal__button-submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__button-submit:disabled {
  background: rgba(0, 0, 0, 0.3);
}

.modal__form_input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  width: 440px;
}

.modal__title {
  font-size: 16px;
  line-height: 1.2;
}