.modal__content {
  width: 670px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.modal__button-close {
  background-image: url(../../images/modal__button-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
}

.modal__delete-confirmation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  text-align: center;
}

.modal__delete-confirmation_text,
.modal__delete-confirmation_warning {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.modal__delete-confirmation_warning {
  margin-bottom: 24px;
}

.modal__button-delete {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #f14711;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 0;
}

.modal__button-cancel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__button-delete:hover,
.modal__button-cancel:hover {
  opacity: 0.6;
}
