.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0;
  width: 328px;
  overflow: hidden;
}

.card_name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  box-sizing: border-box;
}

.card__like-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../images/like_inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../images/like_active.svg");
}

.card_image {
  width: 100%;
  height: 304px;
  border: none;
  object-fit: cover;
  display: block;
}

.card_image:hover {
  cursor: pointer;
}
