.card {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 12px;
  padding: 12px;
  width: 328px;
}

.card_name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}

.card__like-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../images/like_inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../images/like_active.svg");
}

.card_image {
  width: 100%;
  height: 304px;
  border: none;
  border-radius: 8px;
  object-fit: contain;
}

.card_image:hover {
  cursor: pointer;
}
