.modal__content {
  display: flex;
  flex-direction: row;
  width: 670px;
  height: 368px;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  border-radius: 20px;
  padding: 20px 20px;
  position: relative;
}

.modal__button-close {
  background-image: url(../../images/modal__button-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__button-close:hover {
  cursor: pointer;
}

.modal__item-id{
  visibility: hidden;
  opacity: 0;
}

.modal__item-image {
  border-radius: 20px;
}

.modal__item-name {
  position: relative;
  height: 24px;
  right: calc(100% - 460px) ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding: 2px 12px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.modal__item-info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.modal__item-weather {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10px;
}

.modal__button-delete {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #FF4D00;
  border: none;
  background-color: transparent;
  position: relative;
  bottom: -170px;
}

.modal__button-close:hover {
  cursor: pointer;
}
