.modal__content {
  display: flex;
  flex-direction: column;
  width: 498px;
  height: 610px;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.modal__button-close {
  background-image: url(../../images/modal__button-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__button-close:hover {
  cursor: pointer;
}

.modal__item-id {
  visibility: hidden;
  opacity: 0;
}

.modal__image-container {
  width: 498px;
  height: 498px;
  overflow: hidden;
  background-color: #efefef;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 12px 0;
}

.modal__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__item-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: #000000;
}

.modal__item-info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: fit-content;
  padding: 16px 28px 0;
  justify-content: space-between;
  flex: 1;
  background-color: white;
}

.modal__item-weather {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.item__delete-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff4d00;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
item__delete-button_visible {
  visibility: visible;
}

item__delete-button_hidden {
  visibility: hidden;
}

.modal__button-close:hover {
  cursor: pointer;
}
