.clothesSection {
  flex-grow: 1;
}

.card_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 24px;
}

.card_section-title {
  display: flex;
  gap: 18px;
  align-items: baseline;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.card-section__add-Item_button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
}

.card-section__add-Item_button:hover {
  cursor: pointer;
}
