@import url("./vendor/fonts.css");

.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}
